@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional – makes text smoother */
html, body, #root {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
